.main {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    min-width: 700px;
    align-items: center;
}

.perfil-ingreso,
.perfil-egreso {
    width: 85%;
    margin-top: 40px;
}

mat-card-title {
    font-size: 25px;
    color: #013a63;
    margin-bottom: 30px;
}

mat-panel-title {
    font-size: 20px;
    color: #013a63;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

mat-panel-description {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #013a63;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
    padding: 10px;
}

li {
    font-size: 18px;
}

mat-expansion-panel {
    border-radius: 20px;
    box-shadow: 7px 7px 12px rgb(8, 57, 95);
}

mat-expansion-panel {
    background-color: #f7f7f7;
    text-align: justify;
}

mat-card {
    margin-bottom: 30pxs;
}