<div class="main">
    <mat-card class="perfil-ingreso mat-elevation-z4">
        <mat-card-title>Perfil de ingreso</mat-card-title>
        <mat-accordion>
            <mat-expansion-panel hideToggle (opened)="panelOpenState == true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="pt-4">
                        Perfil de ingreso
                    </mat-panel-title>
                    <mat-panel-description>
                        Perfil de ingreso a la maestría
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <!--INTRODUCCIÓN-->
                <mat-panel-title>Introducción</mat-panel-title>
                <p>{{gpi_start}}</p>

                <hr>

                <!--CONOCIMEINTOS BASICOS-->
                <mat-panel-title>Conocimientos básicos</mat-panel-title>
                <ul *ngFor="let conocimiento of this.master['general']['GPerfil_ingreso']['GPI_conocimientos_basicos']; let i = index">
                    <li>{{conocimiento}}</li>
                </ul>

                <hr>

                <!--HABILIDADES-->
                <mat-panel-title>Habilidades</mat-panel-title>
                <ul *ngFor="let habilidades of this.master['general']['GPerfil_ingreso']['GPI_conocimientos_habilidades']; let i = index">
                    <li>{{habilidades}}</li>
                </ul>

                <hr>

                <!--APTITUDES Y VALORES-->
                <mat-panel-title>Aptitudes y valores</mat-panel-title>
                <ul *ngFor="let aptitudes of this.master['general']['GPerfil_ingreso']['GPI_conocimientos_aptitudes_valores']; let i = index">
                    <li>{{aptitudes}}</li>
                </ul>

            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>

    <mat-card class="perfil-egreso mat-elevation-z4">
        <mat-card-title>Perfil de egreso</mat-card-title>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title class="pt-4">
                        Perfil de egreso
                    </mat-panel-title>
                    <mat-panel-description>
                        Perfil de egreso a la maestría
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <!--INTRODUCCIÓN-->
                <mat-panel-title>Introducción</mat-panel-title>
                <p>{{gpi_start}}</p>
                <hr>

                <!--CONOCIMEINTOS BASICOS-->
                <mat-panel-title>Conocimientos básicos</mat-panel-title>
                <ul *ngFor="let conocimiento of this.master['general']['GPerfil_egreso']['GPE_conocimientos']; let i = index">
                    <li>{{conocimiento}}</li>
                </ul>
                <hr>

                <!--HABILIDADES-->
                <mat-panel-title>Habilidades</mat-panel-title>
                <ul *ngFor="let habilidades of this.master['general']['GPerfil_egreso']['GPE_habiliades']; let i = index">
                    <li>{{habilidades}}</li>
                </ul>

                <hr>

                <!--APTITUDES Y VALORES-->
                <mat-panel-title>Aptitudes y valores</mat-panel-title>
                <ul *ngFor="let habilidades of this.master['general']['GPerfil_egreso']['GPE_aptitudes']; let i = index">
                    <li>{{habilidades}}</li>
                </ul>

            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</div>