<div class="row-sm-12 row-lg-12 row-md-12  mt-4  p-2 main">

    <div class="col-9 col-sm-6 col-md-6 col-lg-6 mt-3" id="first-column">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Planes de estudio
                    </mat-panel-title>
                    <mat-panel-description>
                        Información sobre los planes de estudio
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="data">
                    <div class="title">
                        <h2>Objetivo General</h2>
                    </div>
                    <div class="content">
                        <p>{{gpes_objetivo_general}}</p>
                    </div>

                </div>

                <div class="data">
                    <div class="title">
                        <h2>Objetivos específicos</h2>
                    </div>
                    <div class="content">
                        <ul *ngFor="let objetivo of this.master['general']['GPlanesEstudio']['GPES_objetivos_especificos']">
                            <li>{{objetivo}}</li>
                        </ul>
                    </div>

                </div>

                <div class="data">
                    <div class="title">
                        <h2>Metas</h2>
                    </div>
                    <div class="content">
                        <ul *ngFor="let metas of this.master['general']['GPlanesEstudio']['GPES_metas']['GPES_metas']">
                            <li>{{metas}}</li>
                        </ul>
                    </div>

                </div>

                <div class="data">
                    <div class="title">
                        <h2>Misión</h2>
                    </div>
                    <div class="content">
                        <p>{{gpes_mision}}</p>
                    </div>

                </div>

                <div class="data">
                    <div class="title">
                        <h2>Visión</h2>
                    </div>
                    <div class="content">
                        <p>{{gpes_vision}}</p>
                    </div>

                </div>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="col-9 col-sm-6 col-md-6 col-lg-6">

        <div class="table-responsive p-2">
            <div class="row-12 row-sm-12 row-md-12 row-lg-12 d-flex justify-content-center">
                <h3 class="table-title">Asignaturas básicas</h3>
            </div>
            <table class="table table-striped mt-1 ">
                <thead>
                    <tr>

                        <th scope="col ">Abreviatura</th>
                        <th scope="col ">Nombre</th>
                        <th scope="col ">Temario</th>
                    </tr>
                </thead>
                <tbody *ngFor="let materia of gpesab_datos; let i=i ndex ">
                    <tr>

                        <td>{{materia.clave_materia}}</td>
                        <td>{{materia.nombre_materia}}</td>
                        <td>
                            <a class="material-icons " href="{{materia.enlace_temario_materia}} ">
                                attach_file
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <div class="table-responsive mt-2 p-2">
            <div class="row-12 row-sm-12 row-md-12 row-lg-12 d-flex justify-content-center">
                <h3 class="table-title">Asignaturas básicas</h3>
            </div>
            <table class="table table-striped mt-1 ">
                <thead>
                    <tr>

                        <th scope="col ">Abreviatura</th>
                        <th scope="col ">Nombre</th>
                        <th scope="col ">Temario</th>
                    </tr>
                </thead>
                <tbody *ngFor="let materia of gpesao_datos; let i=i ndex ">
                    <tr>

                        <td>{{materia.clave_materia}}</td>
                        <td>{{materia.nombre_materia}}</td>
                        <td>
                            <a class="material-icons " href="{{materia.enlace_temario_materia}} ">
                                attach_file
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <div class="table-responsive mt-2 p-2">

            <div class="row-12 row-sm-12 row-md-12 row-lg-12 d-flex justify-content-center">
                <h3 class="table-title">Asignaturas básicas</h3>
            </div>

            <table class="table table-striped mt-1 ">
                <thead>
                    <tr>

                        <th scope="col ">Abreviatura</th>
                        <th scope="col ">Nombre</th>
                        <th scope="col ">Temario</th>
                    </tr>
                </thead>
                <tbody *ngFor="let materia of gsdt_datos; let i=i ndex ">
                    <tr>

                        <td>{{materia.clave_materia}}</td>
                        <td>{{materia.nombre_materia}}</td>
                        <td>
                            <a class="material-icons " href="{{materia.enlace_temario_materia}} ">
                                attach_file
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
