.main {
    min-width: 700px;
    margin-top: 40px;
    height: 350px;
}

mat-card-title {
    font-size: 25px;
    color: #013a63;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: bold;
}

mat-panel-title {
    font-size: 20px;
    color: #256b9e;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
}

mat-panel-description {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #103c5b;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
    padding: 10px;
}

mat-card {
    box-shadow: 7px 7px 15px #256b9e!important;
    border-radius: 20px;
}

mat-expansion-panel {
    border-radius: 20px;
    background-color: #fafafa;
    text-align: justify;
}

p {
    margin-left: 9px;
}
