<div class="main">

    <div class="row-12 row-sm-12 row-md-12 row-lg-12 d-flex justify-content-center">
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 p-4">
            <mat-card>
                <mat-card-title>Cracterísticas de tésis</mat-card-title>
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Lineamientos
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <!--INTRODUCCIÓN-->

                        <p>{{start}}</p>

                        <hr>

                        <!--REQUISITOS-->

                        <ng-container *ngFor="let requisito of requisitos; let i = index">
                            <p>{{requisitos}}</p>
                        </ng-container>

                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </div>
    </div>





</div>
