<div class="main">

    <div class="row-12 row-sm-12 row-md-12 row-lg-12">
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 mb-4">
            <mat-card>
                <mat-card-title>Requisitos de ingreso</mat-card-title>
                <mat-accordion>
                    <mat-expansion-panel hideToggle (opened)="panelOpenState == true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Requisitos
                            </mat-panel-title>

                        </mat-expansion-panel-header>

                        <!--INTRODUCCIÓN-->
                        <mat-panel-title>Introducción</mat-panel-title>
                        <p>{{PARI_documentacion_start}}</p>

                        <hr>

                        <!--REQUSITOS-->
                        <mat-panel-title>Requisitos</mat-panel-title>
                        <ng-container *ngFor="let requisito of PARI_requisitos; let i = index">
                            <p>{{PARI_requisitos[i]}}</p>
                        </ng-container>



                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 mt-4">
            <mat-card>
                <mat-card-title>Documentación</mat-card-title>
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Documentos
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <!--INTRODUCCIÓN-->
                        <mat-panel-title>Introducción</mat-panel-title>
                        <p>{{PARI_documentacion_start}}</p>

                        <hr>

                        <!--REQUSITOS-->
                        <mat-panel-title>Docuemntos</mat-panel-title>
                        <ng-container *ngFor="let requisito of PARI_documentos; let i = index">
                            <p>{{PARI_documentos[i]}}</p>
                        </ng-container>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </div>
    </div>



</div>
