#main {
    min-width: 700px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

mat-card-subtitle {
    font-size: 19px;
    color: #013a63;
}

mat-card-title {
    font-size: 22px;
    color: #01355a;
}

mat-card {
    border-radius: 10px;
    box-shadow: 7px 7px 20px #073e66;
}

mat-expansion-panel {
    text-align: justify;
    background-color: rgb(249, 249, 249);
}

mat-panel-title {
    color: #206190;
    font-weight: bold;
}
