.main {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    min-width: 700px;
    min-height: 350px;
}

mat-card-title {
    font-size: 25px;
    color: #013a63;
    margin-bottom: 30px;
    margin-top: 20px;
}

mat-panel-title {
    font-size: 20px;
    color: #0e3958;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

mat-panel-description {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #1c679c;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
    padding: 10px;
}

mat-card {
    border-radius: 20px;
    box-shadow: 7px 7px 12px #1c679c!important;
}

mat-expansion-panel {
    background-color: #f7f7f7;
}

table {
    width: 100%;
}