<div class="main">

    <div class="row-12 row-sm-12 row-md-12 row-lg-12 d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <mat-card>
                <mat-card-title>Descargas</mat-card-title>
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Documentos
                            </mat-panel-title>
                            <mat-panel-description>

                            </mat-panel-description>
                        </mat-expansion-panel-header>


                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <th>Nombre</th>
                                    <th>Enlace</th>
                                </thead>
                                <tbody *ngFor="let descarga of descargas; let i = index">
                                    <td>{{descargas[i]['Descargas_nombre']}}</td>
                                    <td>
                                        <a href="{{descargas[i]['Descargas_enlace']}}">
                                            <mat-icon>
                                                attachment
                                            </mat-icon>
                                        </a>
                                    </td>
                                </tbody>
                            </table>
                        </div>





                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </div>
    </div>




</div>