<div class="main">

    <mat-card class="documentacion-ingreso mat-elevation-z4">
        <mat-card-title>Becas</mat-card-title>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Información
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <!--INTRODUCCIÓN-->

                <p>{{becas_start}}</p>

                <hr>



                <ul *ngFor="let requisito of becas_requisitos; let i = index">
                    <li>{{becas_requisitos[i]}}</li>
                </ul>



            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>



</div>