<div class="container">
    <div class="row-xs-12 row-s12 row-md-12 row-lg-12">

        <div class="row  row-xs-12 row-md-12 row-lg-12 title">
            <h1>Imagenes</h1>
        </div>

        <div class="row row-xs-12 row-md-12 row-lg-12 new-logo mt-4 p-4">
            <button mat-raised-button routerLink="/admin/upload-logo">
                    <mat-icon>
                        add
                    </mat-icon>
                Nueva Imagen</button>
        </div>


        <div class="row row-xs-12 row-md-12 row-sm-12 row-lg-12 d-flex justify-content-around">

            <mat-card class=" p-4 text-fluid mat-elevation-z4 col col-xs-12
            col-sm-12 col-md-6 col-lg-3 m-2" *ngFor="let master of masters; let i = index">
                <mat-card-header>
                    <h1>{{master}}</h1>
                </mat-card-header>
                <mat-card-content>
                    <button mat-raised-button (click)="selectedCard(master) ">Ver imagenes</button>
                </mat-card-content>
            </mat-card>



        </div>

    </div>
</div>