<div class="main">

    <div class="header">
        <div class="row-sm-12 row-md-12 row-lg-12 toolbar mb-4 d-flex">
            <div class="col-sm-10 col-md-10 col-lg-10 d-flex justify-content-evenly align-items-center  mt-1">
                <div class="logo-toolbar">
                    <img src="../../../../assets/logos/logotecnm.png" alt="" srcset="" class="logo">
                </div>
                <div class="title-toolbar d-flex justify-content-center">
                    <span class="toolbar-text">Instituto Tecnológico de Zacatecas</span>
                </div>




            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 d-flex justify-content-end align-items-center mt-4 mr-4">
                <button mat-raised-button id="login-button" routerLink="/public/login">
          <mat-icon>
            login
        </mat-icon>
      </button>
            </div>

        </div>
    </div>



    <div class="content">
        <mat-card *ngFor="let maestria of masters; let i = index">

            <div class="logo-master">
                <img src="../../../../assets/logos/pexels-scott-webb-430205.jpeg" alt="" srcset="" class="master-logo-img">
            </div>
            <div class="title-master">
                {{ masters[i]['nombre_maestria']}}
            </div>
            <div class="see-master">
                <button [routerLink]="['/public', masters[i]['_id'] , masters[i]['abreviatura_maestria']]" id="see-master-button">Ver</button>
            </div>




        </mat-card>
    </div>









    <router-outlet></router-outlet>

</div>