.toolbar {
    display: flex;
    justify-content: center;
    color: #01497c;
    font-size: 30px;
}

.card-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

mat-expansion-panel-header {
    color: #023b64;
}

mat-card {
    width: 100%;
    padding: 10px;
}

mat-accordion {
    width: 300px;
}

button {
    background-color: #01497c;
    transition: background-color .5s;
    color: whitesmoke;
}

button:hover {
    background-color: #2c7da0;
}

.masters-section {
    width: 70%;
}