<div class="main">
    <mat-card class="requisitos-ingreso mat-elevation-z4">
        <mat-card-title>Requisitos de permanencia</mat-card-title>
        <mat-accordion>
            <mat-expansion-panel hideToggle (opened)="panelOpenState == true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Requisitos
                    </mat-panel-title>
                    <mat-panel-description>
                        Requisitos para permanecer a la maestría
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <!--INTRODUCCIÓN-->
                <mat-panel-title>Introducción</mat-panel-title>
                <p>{{PARP_start}}</p>

                <hr>

                <!--REQUSITOS-->
                <mat-panel-title>Requisitos</mat-panel-title>
                <ng-container *ngFor="let requisito of PARP_requisitos; let i = index">
                    <p>{{PARP_requisitos[i]}}</p>
                </ng-container>



            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>


</div>