.main {
    display: flex;
    margin-top: 40px;
    min-width: 700px;
    min-height: 350px;
    justify-content: center;
    overflow: auto;
}

mat-card-title {
    font-size: 25px;
    color: #0d5589;
    margin-bottom: 30px;
    font-weight: bold;
}

mat-expansion-panel-header-title {
    font-size: 16px;
    color: #0e3958;
}

mat-panel-title {
    font-size: 20px;
    color: #0e3958;
    padding: 10px;
    display: flex;
    align-items: center;
}

mat-panel-description {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #1c679c;
}

p,
li {
    font-size: 18px;
    margin-bottom: 30px;
    padding: 10px;
}

mat-expansion-panel {
    border-radius: 20px;
    background-color: rgb(247, 248, 248);
    text-align: justify;
}

mat-card {
    box-shadow: 7px 7px 12px #1c679c!important;
    border-radius: 10px;
}
