<div class="row-12 row-sm-12 row-md-12 row-lg-12 d-flex mt-4 p-2" id="footer">

    <!--LOGO SEP-->
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center align-items-center">
        <img src="../../../../../assets/logos/logosep.png" alt="" id="logo-sep">
    </div>

    <!--LOGO TECNM-->
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center align-items-center">
        <img src="../../../../../assets/logos/logotecnm.png" alt="">

    </div>

    <!--LOGO ITZ-->
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center align-items-center">

        <img src="../../../../../assets/logos/itz.png" alt="">
    </div>

    <!--LOGO TECNM-->
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center">
        <img src="../../../../../assets/logos/logoconacyt.png" alt="">
    </div>








</div>