.main {
    width: 100%;
    height: 100%;
}

button {
    margin-bottom: 30px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #013a63;
    color: white;
    transition: background-color .5s;
}

button:hover {
    background-color: #096db4;
}

mat-card-title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #003554;
}

mat-label {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
    color: #051923;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #002b5c;
}

mat-card {
    margin: 30px;
}

mat-expansion-panel {
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
}

mat-panel-title {
    font-size: 18px;
    color: #2e546e;
    font-weight: bold;
}

mat-panel-description {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3c4347;
}

mat-label {
    color: #256991;
    font-weight: bold;
}

.title {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: #0877c7;
    font-size: 26px;
    align-items: center;
    height: 100px;
    font-weight: bold;
}

img {
    width: 200px;
    height: 200px;
}

label {
    color: #002b5c;
    font-weight: bold;
}

input {
    height: 40px;
    border-radius: 3px;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    border-radius: 5px;
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
}

section,
.input-section-form {
    display: flex;
    flex-direction: column;
}