<div class="main d-flex flex-column p-4">

    <div class="row-sm-6 row-md-12 row-lg-12 mt-4 d-flex flex-column">

        <div *ngFor="let alumno of alumnos; let i = index" class="mt-4">
            <mat-card class="mat-elevation-z4" *ngIf="alumnos[i]['generacion'] == generacion">
                <mat-card-header class="d-flex justify-content-center">
                    <mat-card-title>{{alumnos[i]['ENombre']}}</mat-card-title>
                </mat-card-header>

                <div class="crop-image">
                    <img src="../../../../../assets/images/profile2.png" alt="" srcset="">
                </div>

                <mat-card-content>
                    <p>
                        Tema de tésis: {{alumnos[i]['ETema_tesis']}}
                    </p>
                    <p>
                        Director de tésis: {{alumnos[i]['EDirector_tesis']}}
                    </p>
                    <p>
                        Tutor: {{alumnos[i]['ETutor']}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>

    </div>

    <div class="mt-4 mb-2 row-sm-12 row-md-12 row-lg-12">
        <a mat-raised-button [routerLink]=" ['/public' , _id , 'estudiantes' ]">
            <i class="material-icons">
                arrow_back
            </i> Atras
        </a>
    </div>

</div>